#woui_web_normcolorPlette {
    width: 100%;
    margin-top: 30px;
}

#woui_web_normcolorPlette .woui_web_norm_wrapper {
    width: 100%;
    margin: 0 auto;
}

#woui_web_normcolorPlette .woui_web_norm_item {
    display: inline-block;
    width: 110px;
    /*height:120px;*/
    text-align: center;
}

#woui_web_normcolorPlette .woui_web_norm_item .woui_web_normcontent_btnColor {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: relative;
    margin: 12px auto;
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
}

#woui_web_normcolorPlette .woui_web_norm_item .woui_web_normcontent_btnColor > div {
    width: 90px;
    text-align: center;
    line-height: 90px;
}

#woui_web_normcolorPlette .woui_web_norm_item .woui_web_normcontent_btnColor > div i {
    color: #fff;
}

#woui_web_normcolorPlette .woui_web_norm_item .woui_web_normcontent_btnColor.content_btnColor_black {
    background: #333333;
}

#woui_web_normcolorPlette .woui_web_norm_item .woui_web_normcontent_btnColor.content_btnColor_deepgray {
    background: #666666;
}

#woui_web_normcolorPlette .woui_web_norm_item .woui_web_normcontent_btnColor.content_btnColor_gray {
    background: #ADADAD;
}

#woui_web_normcolorPlette .woui_web_norm_item .woui_web_normcontent_btnColor.content_btnColor_red {
    background: #FF5150;
}

#woui_web_normcolorPlette .woui_web_norm_item .woui_web_normcontent_btnColor.content_btnColor_blue {
    background: #3D9DF8;
}

#woui_web_normcolorPlette .woui_web_norm_item .woui_web_normcontent_btnColor.content_btnColor_green {
    background: #19BE6B;
}

#woui_web_normcolorPlette .woui_web_norm_item .woui_web_normcontent_btnColor.content_btnColor_yellow {
    background: #FF9900;
}

/*woui_web_normfont-familly*/
#woui_web_normfont-familly {
    width: 100%;
}

#woui_web_normfont-familly .woui_web_norm_wrapper {
    width: 100%;
}

#woui_web_normfont-familly .woui_web_norm_wrapper .woui_web_norm_font-box {
    width: 100%;
    display: inline-block;
}

#woui_web_normfont-familly .woui_web_norm_wrapper .woui_web_norm_font-box p {
    width: 90%;
    float: left;
    background-color: rgb(246, 246, 246);
    padding: 9px;
    font-size: 12px;
    color: rgb(83, 187, 134);
    position: relative;
}

#woui_web_normfont-familly .woui_web_norm_wrapper .woui_web_norm_font-box p > b {
    font-size: 12px;
    color: rgb(179, 134, 249);
}

#woui_web_normfont-familly .woui_web_norm_wrapper .woui_web_norm_font-box i {
    position: absolute;
    margin-top: 19px;
    margin-left: 10px;
    color: #9FA0F3;
}

/*chinses font*/

#woui_web_norm_chinesefont {
    width: 100%;
}

#woui_web_norm_chinesefont .woui_web_norm_wrapper {
    width: 100%;
}

#woui_web_norm_chinesefont .woui_web_norm_wrapper > div {
    width: 150px;
    padding-bottom: 10px;
    display: inline-block;
}

#woui_web_norm_chinesefont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box {
    position: relative;
}

#woui_web_norm_chinesefont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box p {
    text-align: center;
    color: #343434;
}

#woui_web_norm_chinesefont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box span {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

#woui_web_norm_chinesefont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box .woui_web_norm_chinesefont_sizecommon {
    font-size: 18px;
    color: #343434;
}

#woui_web_norm_chinesefont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box .woui_web_norm_chinesefont_common {
    font-size: 14px;
    color: #8D8D8D;
}

s #woui_web_norm_chinesefont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box.one p {
    font-size: 18px;
}

#woui_web_norm_chinesefont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box.two p {
    font-size: 14px;
}

#woui_web_norm_chinesefont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box.three p {
    font-size: 14px;
}

#woui_web_norm_chinesefont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box.four p {
    font-size: 12px;
}

/*english font*/
#woui_web_norm_englishfont {
    width: 100%;
}

#woui_web_norm_englishfont .woui_web_norm_wrapper {
    width: 100%;
}

#woui_web_norm_englishfont .woui_web_norm_wrapper > div {
    width: 170px;
    padding-bottom: 10px;
    display: inline-block;
}

#woui_web_norm_englishfont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box {
    position: relative;
}

#woui_web_norm_englishfont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box p {
    text-align: center;
    color: #343434;
}

#woui_web_norm_englishfont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

#woui_web_norm_englishfont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box .woui_web_norm_chinesefont_sizecommon {
    font-size: 18px;
    color: #343434;
}

#woui_web_norm_englishfont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box .woui_web_norm_chinesefont_common {
    font-size: 14px;
    color: #8D8D8D;
}

#woui_web_norm_englishfont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box.one p {
    font-size: 18px;
}

#woui_web_norm_englishfont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box.two p {
    font-size: 14px;
}

#woui_web_norm_englishfont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box.three p {
    font-size: 14px;
}

#woui_web_norm_englishfont .woui_web_norm_wrapper .woui_web_norm_chinesefont-box.four p {
    font-size: 12px;
}

/*line*/
#woui_web_norm_navigation {
    width: 100%;
    margin-top: 20px;
}

#woui_web_norm_navigation .woui_web_norm_wrapper {
    width: 95%;
}

#woui_web_norm_navigation .woui_web_norm_wrapper .woui_web_norm_wrapper-box {
    width: 100%;
    height: 32px;
    border-right: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    background-color: transparent;
    position: relative;
    z-index: 3;
}

#woui_web_norm_navigation .woui_web_norm_wrapper .woui_web_norm_wrapper-box > p {
    display: inline-block;
}

#woui_web_norm_navigation .woui_web_norm_wrapper .woui_web_norm_wrapper-box > p.woui_web_norm-line {
    width: 40%;
    height: 16px;
    border-top: 1px solid #D2D2D2;
    margin-top: 2%;
    float: left;
    background-color: transparent;
    z-index: 1;
}

#woui_web_norm_navigation .woui_web_norm_wrapper .woui_web_norm_wrapper-box > p.woui_web_norm-line:last-child {
    float: right;
}

#woui_web_norm_navigation .woui_web_norm_wrapper .woui_web_norm_wrapper-box > p.woui_web_norm-number {
    width:20%;
    height:32px;
    text-align: center;
}

/*daohang one*/
#woui_web_normdaohanglistone {
    width: 100%;
    margin-top:30px;
    z-index: 100;
}
#woui_web_normdaohanglistone .woui_web_norm_wrapper {
    width: 95%;
}
#woui_web_normdaohanglistone .woui_web_norm_wrapper .headerlistone {
    width: 100%;
}
#woui_web_normdaohanglistone .woui_web_norm_wrapper .headerlistone .navigationnothing {
    width: 100%;
    height: 80px;
    background: #3F4464;
    border: 1px solid #3F4464;
}
#woui_web_normdaohanglistone .woui_web_norm_wrapper .contentlist {
    width: 100%;
    height: 400px;
    background: #E9EEF2;
    border: 1px solid #D2D2D2;
    position: relative;
}
#woui_web_normdaohanglistone .woui_web_norm_wrapper .contentlist .contentlistinner {
    width: 70%;
    height: 380px;
    margin: 10px auto;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    position: relative;
}
#woui_web_normdaohanglistone .woui_web_norm_wrapper .contentlist .contentlistinner > p {
    display: inline-block;
}
#woui_web_normdaohanglistone .woui_web_norm_wrapper .contentlist .contentlistinner > p.woui_web_norm-line {
    background: #FFFFFF;
    width: 40%;
    height: 35%;
    opacity: 0.62;
    border-bottom: 1px solid #D2D2D2;
    padding-top: -15px;
    float: left;
}
#woui_web_normdaohanglistone .woui_web_norm_wrapper .contentlist .contentlistinner > p.woui_web_norm-line:last-child {
    float: right;
}
#woui_web_normdaohanglistone .woui_web_norm_wrapper .contentlist .contentlistinner > p.woui_web_norm-number {
    width: 20%;
    height: 35%;
    top:35%;
    text-align: center;
}


/*daohang2
*/
#woui_web_normdaohanglisttwo {
width: 100%;
margin-top: 20px;
}
#woui_web_normdaohanglisttwo .woui_web_norm_wrapper {
    width: 95%;
}
.containTwo{
    margin-top: 44px;
    width: 100%;
    height: 500px;
    border: 1px solid #D2D2D2;
    position: relative;
}
.containTwo .conSide{
    width: 20%;
    height: 500px;
    background: #3F4464;
    float:left;
    text-align: center;

}
.containTwo .conMiddle-top {
    position: absolute;
    left: 230px;
    z-index: 100;
}
.containTwo .conMiddle-top div {
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #777777;
    width: 100px;
    height: 64px;
    line-height: 64px;
    border-bottom: 4px solid #fff ;
    transition: all .2s ease;
}
.containTwo .conMiddle-top div i{
    transform: rotate(180deg);
    margin-left: 14px;
}
.containTwo .conMiddle-top div:hover {
    color: #FF5150;
    border-bottom: 4px solid #FF5150;
}
.containTwo .conSide #leader .firlogo {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 68px;
}
.containTwo .conSide #leader .firlogo i{
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 20px;
}
.containTwo .conSide #leader a {
    font-size: 14px;
    line-height: 44px;
    color: #FFFFFF;
    display: block;
    width: 100%;
    height: 110%;
    background: #262B4B;
    padding-left: 15px;
}
.containTwo .conSide #leader a:hover {
    background: #FF5150;
}
.containTwo .conMiddle{
    width: 80%;
    height: 432px;
    background:  #E9EEF2;
    float:right;
    margin-top: 68px;
    position: relative;
}
.containTwo .conMiddle .conMc{
    /*width: 97%;*/
    height: 412px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    margin:10px;
}
.containTwo .conMiddle .conMc div{
    margin-left: 27px;
}
.containTwo .conMiddle .conMc div a{
    font-size: 14px;
    color: #777777;
    margin-top: 20px;
    display:inline-block;width:30px;height:20px;text-align: center;
}
.containTwo .conMiddle .conMc div span{
    color: #777777;

}
.containTwo .conMiddle .conMc div a:hover{
    color: #FF5150;cursor: pointer;
}
/*daohang2
*/
#woui_web_normtopside {
    width: 95%;margin-top: 20px;
}
#woui_web_normtopside .woui_web_normtopside-box {
    width: 100%;
    height: 441px;
    background: #E9EEF2;
    border: 1px solid #D2D2D2;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone {
    height: 68px;
    background: #3F4464;
    border: 1px solid #3F4464;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone2{
    height: 68px;
    background: #FFFFFF;
    border-left: 1px solid #D2D2D2;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidetwo {
    height: 68px;
    background: #FFFFFF;
    border-bottom: 1px solid #D2D2D2;
    border-left: 1px solid #D2D2D2;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidethree {
    width: 100%;position: relative;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner {
    /*width: 98.8%;*/
    height: 350px;
    margin: 10px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner .woui_web_normtopsidethreeinnernavigation {
    width: 20%;
    height: 100%;
    text-align: center;
    background: #FFFFFF;
    border-right: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner .woui_web_normtopsidethreeinnernavigation .firname {
    font-size: 14px;
    color: #777777;
}
#woui_web_normtopside .icon{
    font-size: 12px;
    padding-left: 20px;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner .woui_web_normtopsidethreeinnernavigation .firname .firnamelist {
    line-height: 46px;
    padding-top: 10px;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner .woui_web_normtopsidethreeinnernavigation .firname .firnamelist i{
    padding-left: 20px;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner .woui_web_normtopsidethreeinnernavigation .firname .firnamelist .sub-list {
    width: 100%!important;
    height: 100%;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidethree  .woui_web_normtopsidethreeinnernavigation .firname .firnamelist .sub-list a {
    display: block!important;
    font-size: 14px!important;
    color: #777777!important;
    padding-left: 30px!important;
    border-right: 2px solid #fff;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinnernavigation .firname .firnamelist .sub-list a:hover {
    color: #FF5150!important;
    border-right: 2px solid #FF5150!important;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone .logo {
    width: 20%;
    height: 100%;
    float: left;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone .logo a {
    height: 100%;
    line-height: 68px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone2 .logo2{
    width: 20%;
    height: 100%;
    float: left;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone2 .logo2 a{
    height: 100%;
    line-height: 68px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #777777;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone .list {
    width: 60%;
    height: 100%;
    float: right;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone .list .listone {
    float: left;
    width: 100px;
    text-align: center;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone .list .listone a {
    height: 100%;
    line-height: 68px;
    opacity: 0.5;
    font-size: 14px;
    color: #FFFFFF;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone .list .listone a:hover {
    opacity: 1;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone2 .list2{
    width: 70%;
    height: 100%;
    float: right;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone2 .list2 .listone{
    float: left;
    width: 100px;
    /*text-align: center;*/
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone2 .list2 .listone a {
    /*height: 100%;*/
    width: 100px;
    display: inline-block;
    line-height: 64px;
    text-align: center;
    font-size: 14px;
    color: #777777;
    border-bottom:4px solid #fff ;
    transition: all .2s ease;

}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone2 .list2 .listone i{
    transform: rotate(180deg);
    float: right;
    line-height: inherit;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsideone2 .list2 .listone a:hover {
    color: #FF5150;
    border-bottom:4px solid #FF5150 ;

}

#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidetwo .list {
    width: 70%;
    height: 100%;
    float: right;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidetwo .list .listone {
    float: left;
    height: 100%;
    width: 100px;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidetwo .list .listone a {
    display: block;
    height: 100%;
    line-height: 68px;
    font-size: 14px;
    color: #777777;
    text-align: center;
}
#woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidetwo .list .listone a:hover {
    font-size: 14px;
    color: #FF5150;
    border-bottom: 1px solid #FF5150;
}

/*daohangsi*/
#woui_web_normtopnoside {
    width: 95%;
    margin-top: 20px;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box {
    width: 100%;
    height: 510px;
    background: #E9EEF2;
    border: 1px solid #D2D2D2;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsideone {
    height: 68px;
    background: #3F4464;
    /*border: 1px solid #3F4464;*/
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsidetwo {
    height: 68px;
    background: #FFFFFF;
    border-bottom: 1px solid #D2D2D2;
    border-left: 1px solid #D2D2D2;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsidethree {
    position: relative;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner {
    /*width: 98%;*/
    height: 350px;
    margin: 10px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner .conMc div{
    margin-left: 27px;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner .conMc div a{
    font-size: 14px;
    color: #777777;
    margin-top: 20px;
    display:inline-block;width:30px;height:20px;text-align: center;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner .conMc div span{
    color: #777777;

}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner .conMc div a:hover{
    color: #FF5150;
    cursor: pointer;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsideone .logo {
    width: 20%;
    height: 100%;
    float: left;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsideone .logo a {
    height: 100%;
    line-height: 68px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsideone .list {
    width: 78%;
    height: 100%;
    float: right;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsideone .list .listone {
    float: left;
    width: 100px;
    text-align: center;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsideone .list .listone a {
    height: 100%;
    line-height: 68px;
    opacity: 0.5;
    font-size: 14px;
    color: #FFFFFF;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsideone .list .listone a:hover {
    opacity: 1;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsidetwo .list {
    width: 70%;
    height: 100%;
    float: right;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsidetwo .list .listone {
    float: left;
    height: 100%;
    width: 100px;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsidetwo .list .listone a {
    display: block;
    height: 100%;
    line-height: 68px;
    font-size: 12px;
    color: #777777;
    text-align: center;
}
#woui_web_normtopnoside .woui_web_normtopnoside-box .woui_web_normtopsidetwo .list .listone a:hover {
    font-size: 12px;
    color: #FF5150;
    border-bottom: 1px solid #FF5150;
}

@media screen and (max-width: 1200px) {

   /*#三-页面宽度, #四-页面布局, #woui_web_normdaohanglisttwo,#woui_web_norm_navigation, #woui_web_normtopside,#woui_web_normtopnoside,#woui_web_normdaohanglistone{*/
        /*display: none;*/
    /*}*/
    .containTwo .conSide #leader a,.containTwo .conSide #leader .firlogo .icon {display: none;}
    .containTwo .conMiddle-top{
        left:130px;
        width:80%;
        height:68px;
        overflow: hidden;
    }
    .containTwo.conMiddle-top div{
        overflow: hidden;
        width:70px!important;
    }
    #woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner .woui_web_normtopsidethreeinnernavigation .firname .firnamelist .sub-list,
    #woui_web_normtopside .woui_web_normtopside-box .woui_web_normtopsidethree .woui_web_normtopsidethreeinner .woui_web_normtopsidethreeinnernavigation .firname .icon{
        display: none;
    }
}
@media screen and (max-width: 990px){
    .containTwo.conMiddle-top div:nth-child(2){
        overflow: hidden;
        width:50px!important;
    }
}
